---
import Config from '../../config/config.js'
import Head   from '../commons/commons.head.astro'

let Category = Astro.props.category
let Serie    = Astro.props.serie
let Article  = Astro.props.article

let category    = Category.key ('title')
let caption     = Category.key ('caption')
let serie       = Serie.key ('title')
let { mdata   } = Article
let { content } = Article
let { stats   } = mdata
let { title   } = mdata
let { author  } = mdata
let { date    } = mdata
let { time    } = stats
let { html    } = content

let tcolor      = Config.key ('site.colors.texts.primary')
let lcolor      = Config.key ('site.colors.lines.secondary')
let hsize       = Config.key ('site.sizes.large')
let csize       = Config.key ('site.sizes.regular')
let tsize       = Config.key ('site.sizes.xshort')

---

<div class="ui container">
  <div class="article">
    <div class="head">
      <Head title={category} caption={caption}/>
    </div>
    <div class="body">
      <h1 class="title">{title}</h1>
      <p class="caption">{serie}</p>
      <div class="mdata">
        <span class="author">{author}</span>
        <span class="date">{date}</span>
        <span class="time">{time} mins</span>
      </div>
      <div class="content">
        <div set:html={html}></div>
      </div>
    </div>
  </div>
</div>

<style define:vars={{ tcolor, lcolor, hsize, csize, tsize}}>
  .article .head {
    margin : 100px auto;
  }
  .article .body {
    width           : 100%;
    margin-top      : 30px;
    padding         : 150px;
    color           : var(--tcolor);
    border          : 1px solid var(--lcolor);
    box-shadow      : 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius   : 5px;
  }
  .article .body .title {
    font-size         : var(--hsize);
    text-align        : left;
  }
  .article .body .caption {
    font-size         : var(--csize);
    margin-top        : -10px;
    text-align        : left;
  }
  .article .body .mdata {
    margin            : 30px auto;
    padding           : 5px;
    font-size         : var(--tsize) !important;
    border-top        : 1px dotted #ccc;
    border-bottom     : 1px dotted #ccc;
  }
  .article .body .mdata .date::before   { content : '· '; padding: 5px; }
  .article .body .mdata .time::before   { content : '· '; padding: 5px; }

  @media (max-width: 1200px) {
    .article .body {
      padding : 50px;
    }
  }

  @media (max-width: 500px) {
    .article .body    { padding : 20px; }
    .article .title   { text-align : center !important; }
    .article .caption { text-align : center !important; }
    .article .mdata   { text-align : center !important; }
  }
</style>

<style is:inline>
  .article {
    counter-reset     : figures;
    counter-reset     : listing;
  }
  .article .content h1 { font-size : 30px; }
  .article .content h2 { font-size : 28px; }
  .article .content h3 { font-size : 20px; }
  .article .content h5 { font-size : 20px; font-weight: 100; }
  .article .content p  { 
    font-size    : 18px; 
    text-align   : justify;
    line-height  : 1.8;
  }
  .article .content ul li {
    margin            : 20px auto;
    padding-left      : 10px;
    list-style        : square;
    font-size         : 18px;
  }
  .article .content ol li {
    margin            : 20px auto;
    padding-left      : 10px;
    list-style        : decimal;
    font-size         : 18px;
  }
  .article .content blockquote {
    margin            : 20px;
    padding           : 20px;
    background        : #F2F5F7;
    border-left       : 3px solid #C1CCD6;
    border-radius     : 5px;
  }
  .article .content figure img {
    display           : block;
    width             : 95%;
    margin            : 0 auto;
  }
  .article .content figure {
    counter-increment : figures;
  } 
  .article .content figure figcaption {
    margin            : 20px 50px 40px 50px;
    font-size         : 18px;
    font-weight       : 100;
    text-align        : center;
    line-height       : 1.8;
  }
  .article .content figcaption::before {
    content           : 'Figura ' counter(figures) '. ';
    font-weight       : 900;
  }
  .article .content pre {
    margin            : 20px;
    padding           : 10px 20px;
    line-height       : 1.8;
    background        : #F2F5F7 !important;
    border-radius     : 5px;
    counter-increment : listing;
  }
  .article .content .listing::before {
    content           : 'Listado ' counter(listing) '. ';
    font-weight       : 900; 
  }
  .article .content .listing {
    margin            : 20px;
    font-size         : 18px;
    font-weight       : 100;
    text-align        : left;
    line-height       : 1.8;
  }
  .article .content .video {
    margin            : 20px auto;
    aspect-ratio      : 16 / 9;
    width             : 100%;
    border            : 0px;
  }

  @media (max-width: 1200px) {
    .article .content figure {
      margin          : 0;
      padding         : 0;
      width           : 100%;
    }
    .article .content figure figcaption {
      margin          : 0;      
      font-size       : 1.2rem;
    }
    .article .content figure img {
      margin          : 0;
      padding         : 0;
      width           : 100%;
    }
    .article .content ul li {
      margin-left     : -20px;
      padding         : 0;
    }
    .article .content ol li {
      margin-left     : -20px;
      padding         : 0;
    }
  }
</style>