---
import Config  from '../../config/config.js'
import Left    from '../commons/commons.box.icon.left.astro'
import Right   from '../commons/commons.box.icon.right.astro'

const LEFT   = 'left'
const RIGHT  = 'right'

let categories = [...Config.key ('site.articles.categories')]

function side (idx) {
  return !(idx%2) && LEFT || RIGHT
}
---

<div class="ui container categories">
  { 
    categories.map (function (category, idx) {
      let title   = category.key ('title')
      let caption = category.key ('caption')
      let icon    = category.key ('icon')
      let path    = category.key ('path')
      let lead    = category.key ('lead')
      let mdata   = [...category.key ('tags')].join (' · ')
      return (
        (side (idx) == LEFT)  && <Left  title={title} caption={caption} icon={icon} mdata={mdata} lead={lead} path={path} /> ||
        (side (idx) == RIGHT) && <Right title={title} caption={caption} icon={icon} mdata={mdata} lead={lead} path={path} />
      )
    })
  }
</div>

<style>
  .categories {
    margin : 50px auto;
  }
</style>
