---
import Content from '../../helpers/helper.content.js'
import Section from '../commons/commons.section.astro'
import Box     from '../commons/commons.box.text.astro'

let Category = Astro.props.category

let icon   = Category.key ('icon')
let Series = [...Category.key ('series')].filter (isHidden)

function isHidden (item) {
  return !item.key ('hidden')
}
---

<div class="series">
  {
    [...Series].map (async function (Serie) {
      let key      = Serie.key ('key')
      let serie    = Serie.key ('title')
      let caption  = Serie.key ('caption')
      let path     = Serie.key ('path')
      let articles = await Content.getAll (path)    
      let boxes    = articles
        .filter (function (article) {
          let {mdata} = article
          let hidden  = !!mdata.hidden
          return !hidden
        })
        .map (function (Article) {
          let { mdata   } = Article
          let { content } = Article
          let { title   } = mdata
          let { date    } = mdata
          let { author  } = mdata
          let { slug    } = mdata
          let { stats   } = mdata
          let { draft   } = mdata
          let { time    } = stats
          let { short   } = content
          let tags        = [author, date, time + ' mins'].join (' · ')
          let lead        = short (500)
          let cpath       = Category .key ('key')
          let spath       = Serie    .key ('slug')
          let apath       = slug
          let path        = ['/articulos', cpath, spath, apath].join ('/')
          let ok = true
          ok = ok && !Serie.key ('draft')
          ok = ok && !draft
          return (
            <div class="article">
              <Box title={title} 
                caption={serie}
                mdata={tags}
                lead={lead}
                path={path}
                draft={!ok}/>
            </div>
          )
        })
      return (
        <div class="ui container serie">
          <div class="title">
            <Section title={serie} caption={caption} icon={icon} key={key}/>
          </div>
          <div class="articles">
            {boxes}
          </div>
        </div> 
      )
    })
  }
</div>

<style>
  .series .serie .title {
    margin          : 100px auto 0px auto;
    text-align      : center;
  }
  .series .serie .articles {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    flex-wrap       : wrap;
    gap             : 10px;
    margin          : 20px auto;
  }
  .series .serie .articles .article {
    flex            : 0 1 49%;
  }
  @media (max-width: 720px) {
    .series .serie .articles .article {
      margin        : 0 20px;
      flex          : 0 1 100%;
    }
  }
</style>
