---
import Config  from '../../config/config.js'
import Section from '../commons/commons.section.astro'
import Box     from '../commons/commons.box.image.astro'

let Talks  = Config.key ('site.events.talks')
let IViews = Config.key ('site.events.interviews')
let WShops = Config.key ('site.events.workshops')

let events = [{
  key     : Talks.key ('key'),
  title   : Talks.key ('title'),
  caption : Talks.key ('caption'),
  icon    : Talks.key ('icon'),
  items   : [...Talks.key ('items')].filter (isHidden)
}, {
  key     : IViews.key ('key'),
  title   : IViews.key ('title'),
  caption : IViews.key ('caption'),
  icon    : IViews.key ('icon'),
  items   : [...IViews.key ('items')].filter (isHidden)
}, {
  key     : WShops.key ('key'),
  title   : WShops.key ('title'),
  caption : WShops.key ('caption'),
  icon    : WShops.key ('icon'),
  items   : [...WShops.key ('items')].filter (isHidden)
}]

function isHidden (item) {
  return !item.key ('hidden')
}

---

<div class="ui container events">
  {
    events.map (function (section) {
      let { key     } = section
      let { title   } = section
      let { caption } = section
      let { icon    } = section
      return (
        <div class="head">
          <Section title={title} caption={caption} icon={icon} key={key}/>
        </div>
        <div class="section">
        {
          section.items.map (function (item) {
            let title   = item.key ('title')
            let caption = item.key ('caption')
            let image   = item.key ('image')
            let place   = item.key ('place')
            let date    = item.key ('date')
            let time    = item.key ('time')
            let lead    = item.key ('lead')
            let path    = item.key ('path')
            let draft   = !!item.key ('draft')
            let mdata   = [place, date, time].join (' · ')
            return (
              <div class="event">
                <Box 
                  title={title} 
                  caption={caption} 
                  image={image} 
                  mdata={mdata} 
                  lead={lead} 
                  path={path}
                  draft={draft} />
              </div> 
            )
          })
        }
        </div>
      )
    })
  }
</div> 

<style>
  .events .head {
    margin          : 100px auto 50px auto;
    text-align      : center;
  }
  .events .section {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    flex-wrap       : wrap;
    gap             : 10px;
    margin          : 20px auto;
  }
  .events .section .event {
    flex            : 0 1 49%;
  }
  @media (max-width: 720px) {
    .events .section .event {
      margin        : 0 20px;
      flex          : 0 1 100%;
    }
  }
</style>
