---
import Config  from '../../config/config.js'
import Section from '../commons/commons.section.astro'
import Box     from '../commons/commons.box.text.astro'

let { iview } = Astro.props

let title   = iview.key ('title')
let caption = iview.key ('caption')
let video   = iview.key ('video')
let author  = iview.key ('author')
let place   = iview.key ('place')
let date    = iview.key ('date')
let time    = iview.key ('time')
let lead    = iview.key ('lead')
let iviews  = Links (iview)
let mdata   = [author, place, date, time].join (' · ')

let icon    = Config.key ('site.icons.light.interview')
let tcolor  = Config.key ('site.colors.texts.primary')
let lcolor  = Config.key ('site.colors.lines.secondary')
let tsize   = Config.key ('site.sizes.lite')
let msize   = Config.key ('site.sizes.short')

function Links (iview) { 
  let iviews = Config.key ('site.events.interviews.items')
  let links = iview  .key ('links')
  return links.map (function (link) {
    return [...iviews].find (function (iview) {
      return iview.key ('key') == link
    })
  })
}
---

<div class="ui container">
  <div class="interview">
    <div class="frame">
      <div class="video">
        <video class="player" title={title} controls>
          <source src={video} type="video/mp4">
          Parece que tu navegador no soporta la reproducción de videos.
        </video>
      </div>
    </div>
    <div class="mdata">{mdata}</div>
    <div class="lead">{lead}</div>
    <div class="links">
      <div class="head">
        <Section title="Intervenciones Relacionadas" caption={caption} icon={icon}/>
      </div> 
      <div class="body">
        {
          iviews.map (function (iview) {
            let title   = iview.key ('title')
            let caption = iview.key ('caption')
            let author  = iview.key ('author')
            let place   = iview.key ('place')
            let date    = iview.key ('date')
            let time    = iview.key ('time')
            let lead    = iview.key ('lead')
            let draft   = iview.key ('draft')
            let path    = iview.key ('path')
            let mdata   = [author, place, date, time].join (' · ')
            return (
              <div class="link">
                <Box 
                    title={title}
                    caption={caption}
                    mdata={mdata}
                    lead={lead}
                    draft={draft}
                    path={path}/>
              </div>
            )
          })
        }
      </div>
    </div>
  </div>  
</div>

<style define:vars={{ tcolor, lcolor, tsize, msize }}>
  .interview {
    margin         : 0 20px;
    color          : var(--tcolor);
  }
  .interview .frame {
    border         : 1px solid var(--lcolor);
    padding        : 10px;
    box-shadow     : 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius  : 5px;
  }
  .interview .video {
    position       : relative;
    width          : 100%;
    padding-bottom : 56.25%;
  }
  .interview .video .player {
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    border         : 0;
    border-radius  : 3px;
  }
  .interview .mdata {
    margin         : 30px 0;
    padding        : 5px;
    font-size      : var(--msize);
    border-top     : 1px dotted #ccc;
    border-bottom  : 1px dotted #ccc; 
    line-height    : 1.5;
    text-align     : center;
  }
  .interview .lead {
    margin         : 10px 0;
    font-size      : var(--tsize);
    text-align     : justify;
    line-height    : 1.8;
  }
  .interview .links .head {
    margin          : 50px auto;
    text-align      : center;
  }
  .interview .links .body {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    flex-wrap       : wrap;
    gap             : 10px;
    margin          : 20px auto;
  }
  .interview .links .body .link {
    flex            : 0 1 32%;
  }
  @media (max-width: 1200px) {
    .interview .links .body .link {
      flex          : 0 1 49%;
    }
  }
  @media (max-width: 720px) {
    .interview .links .body .link {
      margin        : 0 20px;
      flex          : 0 1 100%;
    }
    .interview .lead {
      font-size      : 16px;
      line-height    : 1.8;
    }
  }
</style>

