---
import Config from '../../../config/config.js'
import Box    from '../../commons/commons.box.image.astro'

let events = [...Config.key ('site.events.talks')].filter (isHidden)

function isHidden (event) {
  return !event.key ('hidden')
}

---

<div class="ui container events">
  <div class="section">
    {
      events.map (function (event) {
        let title   = event.key ('title')
        let caption = event.key ('caption')
        let image   = event.key ('image')
        let place   = event.key ('place')
        let date    = event.key ('date')
        let time    = event.key ('time')
        let lead    = event.key ('lead')
        let path    = event.key ('path')
        let draft   = !!event.key ('draft')
        let mdata   = [place, date, time].join (' · ')
        return (
          <div class="event">
            <Box 
              title={title} 
              caption={caption} 
              image={image} 
              mdata={mdata} 
              lead={lead} 
              path={path}
              draft={draft} />
          </div> 
        )
      })
    }
    </div>
</div> 

<style>
  .events .head {
    margin          : 100px auto 50px auto;
    text-align      : center;
  }
  .events .section {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    flex-wrap       : wrap;
    gap             : 10px;
    margin          : 20px auto;
  }
  .events .section .event {
    flex            : 0 1 49%;
  }
  @media (max-width: 720px) {
    .events .section .event {
      margin        : 0 20px;
      flex          : 0 1 100%;
    }
  }
</style>
