---
import Config  from '../../../config/config.js'
import Section from '../../commons/commons.section.astro'
import Box     from '../../commons/commons.box.text.astro'
import Player  from '../../commons/commons.player.astro'

let { wshop  } = Astro.props
let { wshops } = Astro.props

let caption = wshop.key ('caption')
let video   = wshop.key ('video')
let image   = wshop.key ('image')
let author  = wshop.key ('author')
let place   = wshop.key ('place')
let date    = wshop.key ('date')
let time    = wshop.key ('time')
let lead    = wshop.key ('lead')
let others  = Links (wshop, wshops)
let mdata   = [author, place, date, time].join (' · ')

let icon    = Config.key ('site.icons.light.workshop')
let tcolor  = Config.key ('site.colors.texts.primary')
let lcolor  = Config.key ('site.colors.lines.secondary')
let tsize   = Config.key ('site.sizes.lite')
let msize   = Config.key ('site.sizes.short')

function Links (wshop, wshops) { 
  let links = wshop.key ('links')
  return links.map (function (link) {
    return [...wshops].find (function (wshop) {
      return wshop.key ('key') == link
    })
  })
}
---

<div class="ui container">
  <div class="wshop">
    <Player video={video} image={image}/>
    <div class="mdata">{mdata}</div>
    <p class="lead">{lead}</p>
    <div class="links">
      <div class="head">
        <Section title="Talleres Relacionados" caption={caption} icon={icon}/>
      </div> 
      <div class="body">
        {
          others.map (function (other) {
            let title   = other.key ('title')
            let caption = other.key ('caption')
            let author  = other.key ('author')
            let place   = other.key ('place')
            let date    = other.key ('date')
            let time    = other.key ('time')
            let lead    = other.key ('lead')
            let draft   = other.key ('draft')
            let path    = other.key ('path')
            let mdata   = [author, place, date, time].join (' · ')
            return (
              <div class="link">
                <Box 
                    title={title}
                    caption={caption}
                    mdata={mdata}
                    lead={lead}
                    draft={draft}
                    path={path}
                    />
              </div>
            )
          })
        }
      </div>
    </div>
  </div>  
</div>

<style define:vars={{ tcolor, lcolor, tsize, msize }}>
  .wshop {
    margin         : 0 20px;
    color          : var(--tcolor);
  }
  .wshop .frame {
    border         : 1px solid var(--lcolor);
    padding        : 10px;
    box-shadow     : 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius  : 5px;
  }
  .wshop .video {
    position       : relative;
    width          : 100%;
    padding-bottom : 56.25%;
  }
  .wshop .video .player {
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    border         : 0;
    border-radius  : 3px;
  }
  .wshop .mdata {
    margin         : 30px 0;
    padding        : 5px;
    font-size      : var(--msize);
    border-top     : 1px dotted #ccc;
    border-bottom  : 1px dotted #ccc; 
    line-height    : 1.5;
    text-align     : center;
  }
  .wshop .lead {
    margin         : 10px 0;
    font-size      : var(--tsize);
    text-align     : justify;
    line-height    : 1.8;
  }
  .wshop .links .head {
    margin          : 50px auto;
    text-align      : center;
  }
  .wshop .links .body {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    flex-wrap       : wrap;
    gap             : 10px;
    margin          : 20px auto;
  }
  .wshop .links .body .link {
    flex            : 0 1 32%;
  }
  @media (max-width: 1200px) {
    .wshop .links .body .link {
      flex          : 0 1 49%;
    }
  }
  @media (max-width: 720px) {
    .wshop .links .body .link {
      margin        : 0 20px;
      flex          : 0 1 100%;
    }
    .wshop .lead {
      font-size      : 16px;
      line-height    : 1.8;
    }
  }
</style>

