---
import Config  from '../../config/config.js'

let { head  } = Astro.props
let { link  } = Astro.props
let { text  } = Astro.props
let { image } = Astro.props
let { open  } = Astro.props

let tcolor = Config.key ('site.colors.texts.primary')
let hsize  = Config.key ('site.sizes.large')
let tsize  = Config.key ('site.sizes.medium')
---

<div class="activity row">
  <div class="seven wide column">
    <img src={image} class="ui image" alt={head}>
  </div>
  <div class="nine wide column">
    <h2 class="head">{head}</h2>
    <p  class="text">{text}</p>
    <div class="action">
      { open && <a class="ui big button" href={link}>Saber Más</a>}
      {!open && <a class="ui big button disabled" href={link}>Próximamente</a>}
    </div>
  </div>
</div>

<style define:vars={{ tcolor, hsize, tsize }}>
  .activity {
    color: var(--tcolor);
    margin: 50px 0;
  }
  .activity .head {
    font-size   : var(--hsize);
    text-align  : right;
  }
  .activity .text {
    font-size   : var(--tsize);
    text-align  : right;
  }
  .activity .action {
    text-align  : right;
  }

  @media (max-width: 768px) {
    .activity {
      display        : flex;
      flex-direction : column-reverse !important;
      margin-right   : 20px !important;
    }
    .activity img {
      width          : 70vw;
      margin         : 0 auto;
    }
  }
</style>