---
import Config from '../../../config/config.js'
import Box    from '../../commons/commons.box.poster.astro'

let posters = [...Config.key ('site.posters.graphs')].filter (isHidden)

function isHidden (poster) {
  return !poster.key ('hidden')
}
---

<div class="ui container posters">
  <div class="section">
    {
      posters
        .map (function (poster) {
          let title   = poster.key ('title')
          let caption = poster.key ('caption')
          let image   = poster.key ('image')
          let author  = poster.key ('author')
          let date    = poster.key ('date')
          let time    = poster.key ('time')
          let lead    = poster.key ('lead')
          let path    = poster.key ('path')
          let draft   = !!poster.key ('draft')
          let mdata   = [author, date].join (' · ')
          return (
            <div class="poster hidden" date={date} time={time}>
              <Box 
                title={title} 
                caption={caption} 
                image={image} 
                mdata={mdata} 
                lead={lead} 
                path={path}
                draft={draft} />
            </div> 
          )
        })
    }
    </div>
</div>

<script type="module">
  import Helper from '/scripts/lib.poster.js'

  const POSTER = '.poster'
  const DATE   = 'date'
  const TIME   = 'time'
  const HIDDEN = 'hidden'

  let posters = document.querySelectorAll (POSTER)
  for (let poster of posters) {
    let date = poster.getAttribute (DATE)
    let time = poster.getAttribute (TIME)
    let ok   = Helper.check (date, time)
     ok && poster.classList.remove (HIDDEN)
    !ok && poster.remove ()
  }
</script>

<style>
  .hidden {
    display: none
  }
  .posters .head {
    margin          : 100px auto 50px auto;
    text-align      : center;
  }
  .posters .section {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    flex-wrap       : wrap;
    gap             : 10px;
    margin          : 20px auto;
  }
  .posters .section .poster {
    flex            : 0 1 32%;
    width: 32%;
  }
  @media (max-width: 750px) {
    .posters .section .poster {
      margin        : 0 10px;
      flex          : 0 1 40%;
    }
  }
  @media (max-width: 600px) {
    .posters .section .poster {
      margin        : 0 20px;
      flex          : 0 1 100%;
    }
  }
</style>
