---
import Config  from '../../../config/config.js'
import Section from '../../commons/commons.section.astro'
import Box     from '../../commons/commons.box.text.astro'
import Poster  from '../../commons/commons.poster.astro'

let { poster  } = Astro.props
let { posters } = Astro.props

const DATE = '/'
const TIME = ':'

let key     = poster.key ('key')
let caption = poster.key ('caption')
let image   = poster.key ('image')
let author  = poster.key ('author')
let date    = poster.key ('date')
let lead    = poster.key ('lead')
let links   = Links (poster, posters)
let mdata   = [author, date].join (' · ')

let icon    = Config.key ('site.icons.light.poster')
let tcolor  = Config.key ('site.colors.texts.primary')
let lcolor  = Config.key ('site.colors.lines.secondary')
let tsize   = Config.key ('site.sizes.lite')
let msize   = Config.key ('site.sizes.short')

function Links (poster, posters) { 
  let links = poster.key ('links')
  return links.map (function (link) {
    return [...posters].find (function (poster) {
      return poster.key ('key') == link
    })
  })
}

function check (link) {
  let date = link.key ('date')
  let time = link.key ('time')
  let [day, month, year] = date.split (DATE)
  let [hour, minute]     = time.split (TIME)
  let publish = new Date (`${year}-${month}-${day}T${hour}:${minute}:00`)
  let now     = new Date ()
  return publish < now
}
---

<div class="ui container">
  <div class="poster">
    <Poster image={image}/>
    <div class="mdata">{mdata}</div>
    <p class="lead">{lead}</p>
    <div class="download">
      <a class="ui huge toggle button" href={image} download={key}> Descargar </a>
    </div>
    <div class="links">
      <div class="head">
        <Section title="Posters Relacionados" caption={caption} icon={icon}/>
      </div>
      <div class="body">
        {
          links
            .map (function (link) {
              let title   = link.key ('title')
              let caption = link.key ('caption')
              let author  = link.key ('author')
              let lead    = link.key ('lead')
              let draft   = link.key ('draft')
              let path    = link.key ('path')
              let mdata   = [author, date].join (' · ')
              let ok      = check (link)
              return (
                <div class="link">
                  <Box 
                      title={title}
                      caption={caption}
                      mdata={mdata}
                      lead={lead}
                      draft={draft || !ok}
                      path={path}
                      />
                </div>
              )
            })
        }
      </div>
    </div>
  </div>  
</div>

<style define:vars={{ tcolor, lcolor, tsize, msize }}>
  .poster {
    margin         : 0 20px;
    color          : var(--tcolor);
  }
  .poster .poster {
    position       : relative;
    width          : 100%;
    padding-bottom : 56.25%;
  }
  .poster .download {
    margin         : 0 auto;
    padding        : 50px 0;
    text-align     : center; 
  }
  .poster .download .button {
      width: 300px;
  }

  .poster .mdata {
    margin         : 30px 0;
    padding        : 5px;
    font-size      : var(--msize);
    border-top     : 1px dotted #ccc;
    border-bottom  : 1px dotted #ccc; 
    line-height    : 1.5;
    text-align     : center;
  }
  .poster .lead {
    margin         : 10px 0;
    font-size      : var(--tsize);
    text-align     : justify;
    line-height    : 1.8;
  }
  .poster .links .head {
    margin          : 50px auto;
    text-align      : center;
  }
  .poster .links .body {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    flex-wrap       : wrap;
    gap             : 10px;
    margin          : 20px auto;
  }
  .poster .links .body .link {
    flex            : 0 1 32%;
  }
  @media (max-width: 1200px) {
    .poster .links .body .link {
      flex          : 0 1 49%;
    }
  }
  @media (max-width: 720px) {
    .poster .links .body .link {
      margin        : 0 20px;
      flex          : 0 1 100%;
    }
    .poster .lead {
      font-size      : 16px;
      line-height    : 1.8;
    }
    .poster .download .button {
      width: auto;
    }
  }
</style>

