---
import Config from '../../config/config.js'
import Layout from '../../layouts/layout.section.astro'
import Head   from '../../components/activity/posters/poster.head.astro'
import Body   from '../../components/activity/posters/poster.body.astro'

let { slug } = Astro.params

let posters = Config .key ('site.posters.graphs')
let title   = Config .key ('site.brand')
let page    = Config .key ('site.pages.posters')
let section = page   .key ('label')
let path    = page   .key ('path')
let poster  = posters .key (slug)
let date    = poster  .key ('date')
let time    = poster  .key ('time') 

export function getStaticPaths () {
  let posters  = Config.key ('site.posters.graphs')
  let response = []
  for (let poster of posters) {
    let draft  = poster.key ('draft')
    let hidden = poster.key ('hidden')
    let path   = poster.key ('path')
    let slug   = path.split ('/').pop ()
    let params = {slug}
    let props  = {poster}
    !draft && !hidden && response.push ({ params, props })
  }
  return response
}

---

<Layout title={title} section={section} path={path}>
  <Head poster={poster} />
  <Body poster={poster} posters={posters} />
</Layout>

<div class="mdata">
  <div class="date">{date}</div>
  <div class="time">{time}</div>
</div>

<script type="module" is:inline src="/scripts/lib.poster.js"></script>

<style>
  body {
    visibility: hidden;
  }
</style>
