---
import Config from '../../config/config.js'
import Layout from '../../layouts/layout.section.astro'
import Head   from '../../components/activity/posters/poster.head.astro'
import Body   from '../../components/activity/posters/poster.body.astro'

const DATE = '/'
const TIME = ':'

let { talk } = Astro.props
let { slug } = Astro.params

let posters = Config .key ('site.posters.graphs')
let title   = Config .key ('site.brand')
let page    = Config .key ('site.pages.posters')
let section = page   .key ('label')
let path    = page   .key ('path')

let poster  = posters .key (slug)
let date    = poster  .key ('date')
let time    = poster  .key ('time') 

export function getStaticPaths () {
  let posters  = Config.key ('site.posters.graphs')
  let response = []
  for (let talk of posters) {
    let draft  = talk.key ('draft')
    let hidden = talk.key ('hidden')
    let path   = talk.key ('path')
    let slug   = path.split ('/').pop ()
    let params = {slug}
    let props  = {talk}
    !draft && !hidden && response.push ({ params, props })
  }
  return response
}

---

<script>
  function check () {
    let sdate = date.textContent
    let stime = time.textContent
    let [day, month, year] = sdate.split ('/')
    let [hour, minute]     = stime.split (':')
    let publish = new Date (`${year}-${month}-${day}T${hour}:${minute}:00`)
    let now     = new Date ()
    return publish < now
  }
  let ok  = check ()
  if (ok) document.body.style  = 'visibility: visible'
  else    window.location.href = '/404'
</script>

<Layout title={title} section={section} path={path}>
  <Head poster={talk} />
  <Body poster={talk} posters={posters} />
</Layout>

<div class="mdata">
  <div id="date">{date}</div>
  <div id="time">{time}</div>
</div>

<style>
  body {
    visibility: hidden;
  }
</style>
