---
import Config  from '../../config/config.js'

let { title   } = Astro.props
let { caption } = Astro.props
let { mdata   } = Astro.props
let { lead    } = Astro.props
let { path    } = Astro.props
let draft       = !!Astro.props.draft

let tcolor = Config.key ('site.colors.texts.primary')
let lcolor = Config.key ('site.colors.lines.secondary')
let hsize  = Config.key ('site.sizes.regular')
let csize  = Config.key ('site.sizes.xshort')
let tsize  = Config.key ('site.sizes.medium')
---

<div class="box">
  {draft && <span class="ribon">Próximamente</span> }
  <div class="head">
    <h3 class="title">{title}</h3>
    <p class="caption">{caption}</p>
  </div>
  <div class="body">
    <div class="mdata">{mdata}</div>
    <p class="lead">{lead}</p>
    <div class="actions">
      {draft  && <a class="ui button disabled" href={path}>Próximamente</a> } 
      {!draft && <a class="ui button"          href={path}>Acceder</a> } 
    </div>
  </div>
</div>

<style define:vars={{ tcolor, lcolor, hsize, csize, tsize }}>
  .box {
    position        : relative;
    width           : 100%;
    padding         : 20px;
    color           : var(--tcolor);
    border          : 1px solid var(--lcolor);
    box-shadow      : 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius   : 5px;
  }
  .box .ribon {
    position        : absolute;
    top             : 245px;
    right           : 0;
    padding         : 5px 15px;
    font-size       : 16px;
    color           : #fff;
    background      : #2f8ae0;
    border-top-left-radius    : 15px;
    border-bottom-left-radius : 15px;
    display         : none;
  }
  .box .head {
    display         : inline-block;
  }
  .box .head .title {
    font-size       : var(--hsize);
    font-weight     : 600;
    line-height     : 1.5;
  }
  .box .head .caption {
    font-size       : var(--csize);
    font-weight     : 100;
    white-space     : nowrap;
    overflow        : hidden;
    max-width       : 300px;
  }
  .box .body .mdata {
    font-size       : 14px;
    border-top      : 1px dotted #ccc;
    border-bottom   : 1px dotted #ccc;
    margin          : 10px 0;
    padding         : 5px 0;
    line-height     : 1.5;
    text-align      : left;
  }
  .box .body .lead {
    height          : 80px;
    margin          : 20px 0;
    font-size       : 18px;
    line-height     : 1.5;
    text-align      : justify;
    overflow        : hidden;
  }

  @media (max-width : 1200px) {
    .box .head .caption {
      max-width  : 100%;
    }
  }
  

</style>