---
import Config  from '../../config/config.js'
import Section from '../commons/commons.section.astro'
import Box     from '../commons/commons.box.link.astro'

let { course } = Astro.props

let title   = course.key ('title')
let caption = course.key ('caption')
let video   = course.key ('video')
let author  = course.key ('author')
let time    = course.key ('time')
let lead    = course.key ('lead')
let lessons = course.key ('lessons')
let path    = course.key ('path') + '/1'
let draft   = [...lessons][0].key ('draft')
let size    = lessons.length + ' lecciones'
let mdata   = [caption, author, size, time].join (' · ')

let tcolor  = Config.key ('site.colors.texts.primary')
let lcolor  = Config.key ('site.colors.lines.secondary')
let tsize   = Config.key ('site.sizes.lite')
let msize   = Config.key ('site.sizes.short')
---

<div class="ui container">
  <div class="course">
    <div class="frame">
      <div class="video">
        <video class="player" title={title} controls>
          <source src={video} type="video/mp4">
          Parece que tu navegador no soporta la reproducción de videos.
        </video>
      </div>
    </div>
    <div class="mdata">{mdata}</div>
    <div class="lead">{lead}</div>
    <div class="start">
      {!draft && <a href={path} class="massive ui big button">Comenzar</a> } 
      {draft  && <a href={path} class="massive ui big button disabled">Proximamente</a> } 
    </div>
  </div>  
</div>

<style define:vars={{ tcolor, lcolor, tsize, msize }}>
  .course {
    margin         : 0 20px;
    color          : var(--tcolor);
  }
  .course .frame {
    border         : 1px solid var(--lcolor);
    padding        : 10px;
    box-shadow     : 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius  : 5px;
  }
  .course .video {
    position       : relative;
    width          : 100%;
    padding-bottom : 56.25%;
  }
  .course .video .player {
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    border         : 0;
    border-radius  : 3px;
  }
  .course .mdata {
    margin         : 30px 0;
    padding        : 5px;
    font-size      : var(--msize);
    border-top     : 1px dotted #ccc;
    border-bottom  : 1px dotted #ccc; 
    line-height    : 1.5;
    text-align     : center;
  }
  .course .lead {
    margin         : 10px 0;
    font-size      : var(--tsize);
    text-align     : justify;
    line-height    : 1.8;
  }
  .course .start {
    margin         : 50px auto;
    text-align: center;
  }
  @media (max-width: 1050px) {
    .course .lead {
      font-size    : 16px;
      line-height  : 1.8;
    }
  }
</style>

