---
import Config from '../../config/config.js'
import Box    from '../commons/commons.box.image.astro'

let Courses = Config.key ('site.training.courses').filter (isHidden)

function isHidden (item) {
  return !item.key ('hidden')
}
---

<div class="ui container training">
  <div class="courses">
    {
      Courses.map (function (course) {
        let title   = course.key ('title')
        let caption = course.key ('caption')
        let image   = course.key ('image')
        let author  = course.key ('author')
        let time    = course.key ('time')
        let lead    = course.key ('lead')
        let lessons = course.key ('lessons')
        let path    = course.key ('path')
        let draft   = !!course.key ('draft')
        let size    = lessons.length + ' lecciones'
        let mdata   = [caption, author, size, time].join (' · ')
        return (
          <div class="course">
            <Box 
              title={title} 
              caption={caption} 
              image={image} 
              mdata={mdata} 
              lead={lead} 
              path={path}
              draft={draft} />
          </div> 
        )
      })
    }
  </div>
</div> 

<style>
  .training .head {
    margin          : 100px auto 50px auto;
    text-align      : center;
  }
  .training .courses {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    flex-wrap       : wrap;
    gap             : 10px;
    margin          : 20px auto;
  }
  .training .courses .course {
    flex            : 0 1 49%;
  }
  @media (max-width: 720px) {
    .training .courses .course {
      margin        : 0 20px;
      flex          : 0 1 100%;
    }
  }
</style>
